<html lang="en" ng-app="ToDo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <title>Todo Application</title>
</head>

<body>
    <div ng-controller="todoController">
        <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newtodo" required />
            <button ng-disabled="frm.$invalid">Go</button>
        </form>
        <button ng-click="clearCompleted()">Clear Completed</button>
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" />
                <span ng-class="{'done': todo.done}">{{todo.title}}</span>
            </li>
        </ul>
    </div>
</body>

</html>