#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
#timeline{
	width: 250px;
	height: 10px;
	margin-top: 18px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
}
#playhead{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
}
#media-video {
    width: 300px;
}
.fa-bullseye {
    color: red;
}
.upper-item {
    margin-left: 10px;
    font-size: 28px;
}
#user-id {
    font-size: 20px;
}
#version {
    font-size: 20px;
}
.bottom-item {
    font-size: 17px;
    margin-left: 35px;
}
.device {
    margin-left: 30px;
}
.device-frame {
    height: 650px!important;
}
.device-content {
    height: 500px!important;
}
#location {
    font-size: 20px;
}
#city {
    margin-left: 5px;
    margin-top: 15px;
}
.star {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: black;
}
.panel-default > .panel-heading {
    background-color: lightcyan;
}
.well {
    background-color: white;
}