#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
#audioplayer{
	width: 300px;
	height: 60px;
	margin: 520px auto auto auto;
}
#pButton{
    height:60px; 
    width: 60px;
    border: none;
    margin-top: 3px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}
.play{
    background: url('./play.png');
    height: 40px!important;
    width: 40px!important;
}
.pause{
    background: url('./pause.png');
    height: 40px!important;
    width: 40px!important;
}
#timeline{
	width: 250px;
	height: 10px;
	margin-top: 18px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
}
#playhead{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
}
#media-video {
    width: 300px;
}
.fa-bullseye {
    color: red;
}
.upper-item {
    margin-left: 10px;
    font-size: 28px;
}
#user-id {
    font-size: 20px;
}
#version {
    font-size: 20px;
}
.bottom-item {
    font-size: 17px;
    margin-left: 35px;
}
#playback-buttons .btn {
    margin-top: 20px;
    float: right;
    margin-right: 5px;
}
.device {
    margin-top: 150px;
    margin-left: 30px;
}
#location {
    font-size: 20px;
}
#city {
    margin-left: 5px;
    margin-top: 15px;
}